.product-img {
  width: 272px;
  height: 272px;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  
}

.product-img img {
  max-width: 272px;
  max-height: 272px;
}

#cat-opt {

  display: flex;
  justify-content: center;
  width: 24vw;
  height: 19px;
  align-content: center;
  align-items: center;
}

.group {
  min-width: 160px;
}

@media (max-width: 700px) {
  #resstore {
    display: block;
  }

  #cat-opt h5 {
    font-size: 1em;

  }
}

@media (min-width: 700px) {
  #store {
    display: block;
  }

}

.nav-for-slider .swiper-slide {
  height: auto;
  width: auto;
  cursor: pointer;

}

.swiper-wrapper {
  height: auto;
}

.nav-for-slider .swiper-slide img {
  border: 2px solid transparent;
  border-radius: 10px;

}

.nav-for-slider .swiper-slide-thumb-active img {

  border-color: rgb(79 70 229);
}